{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user = scalable = no"/>
        <title>About US</title>
        <link rel="stylesheet" href="{% static "css/about.css" %}">
        <link rel = "icon" href="{% static "images/diamond.png" %}">
    </head>
    
    <body>
        <h5>
            <div id = "wrapper">
               <ul>
                   <li><a href = "../">Home</a></li>
                   <li><a href = "../">Services</a></li>
                   <li><a href = "../aboutus/">About us</a></li>
                   <li><a href = "../contactus/">Contact us</a></li>
                   
                   
               </ul>
           </div></h5>
        <p> Aadhini Browsing center is in kuniamuthur one of the famous browsing center.<br>
            Here we are doing the services like Aadhaar (Address,Name,DOB) corrections are done here. <br>
            We are doing all bank money transfers. <br> 
            We are providing good service to the Customer. <br>
            if you had any doubt in the government identity card applies.<br>
            Kindly contact us</p>
    
    </body>
</html>
