{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user = scalable = no"/>
        <title>Contact US</title>
        <link rel="stylesheet" href="{% static "css/contact.css" %}">
        <link rel = "icon" href="{% static "images/diamond.png" %}">
    </head>
 
    <body>
        <h5>
            <div id = "wrapper">
               <ul>
                   <li><a href = "../">Home</a></li>
                   <li><a href = "../">Services</a></li>
                   <li><a href ='../aboutus/'>About Us</a></li>
                   <li><a href = "../contactus/">Contact us</a></li>
                   <li>
               </ul>
           </div></h5>
        <p> 
            Address: <br>
            Sri Thangasundaram Complex,<br>
            palakkad main road,<br>
            opp Syndicate bank,<br>
            kuniyamuthur, Coimbatore - 08.<br>
            
            
            
            <img src = "{% static "images/image.png" %}"> <a href = "mailto:contact@aadhinibrowsingcenter.store" id = "Contact">contact@aadhinibrowsingcenter.store </a> </p>
    
    </body>
</html>
