{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user = scalable = no"/>
    <title>Aadhini Browsing Center</title>
    <link rel="stylesheet"  href="{% static "css/style.css" %}"">
    <link rel = "icon" href="{% static "images/diamond.png" %}">
</head>
<body>
<nav>
<ul>
    <li><a href =''>Home</a></li>
    <li><a href =''>Services</a>
    <ul>
     <li><a href ='aadhaar/'>Aadhaar</a>   </li>
     <li><a href ='pancard/'>PanCard</a></li>
     <li><a href ='voter_id/'>Voter ID</a></li>
     <li><a href ='ration_card/'>RationCard</a></li>
     <li><a href ='passport/'>Passport</a></li>
    </ul>
</li> 
    <li><a href ='aboutus/'>About Us</a></li>
    <li><a href ='contactus/'>Contact Us</a></li>
</ul>

</nav>

<div>
    <p id = DB>AADHINI BROWSING <br>
        CENTER </p>
        <p id = 'hello'>All Bank money Transfers Done here! <br>
                        Government Identity card corrections and apply for the New Card We are providing this services.<br>
                        For any assistance, please Contact us.

        </p>
     <p id = 'para'><br>
       


     </p>
    <p><img src = '../static/images/img.png'></p>
    

</div>



</body>
</html>