{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user = scalable = no"/>
        <title>Passport Minor Apply</title>
        <link rel="stylesheet"  href="{% static "css/form.css" %}">
        <link rel = "icon" href="{% static "images/diamond.png" %}">
    </head>
    
    <body>
        <h1>Passport Minor Apply</h1>
        <div class = "Required-Documents">
            <h2>Any of the Required Document</h2>
            <ul>
                <li>1. PASSPORT (DATE OF BIRTH PROOF)</li>
<li>School leaving certificate/ Secondary school leaving certificate</li>
<li>Birth certificate</li>
<li>Declaration given by the Head of the Orphanage/Child Care Home</li>
<li>Policy Bond issued by the Public Life Insurance Corporations/Companies</li>
<li>"Aadhaar card or e-Aadhaar"</li>
<li>School or university 10th standard mark's card</li>
	<hr>	
<li>2. PASSPORT (ADDRESS PROOF)</li>
<li>Proof of current address in the parents' name</li>
<li>Photo Passbook of running bank account</li>
<li>Water bill</li>
<li>Election Photo ID card</li>
<li>Landline or Postpaid mobile bill</li>
<li>Election Photo ID card</li>
<li>Aadhaar card</li>
<li>Electricity Bill</li>
<li>Rent agreement</li>
<li>If the parent possesses a passport, the original and self-attested copies should be carried.</li>

                

                
            </ul>

         </div>
        
         <div class = "Required-Documents" id = "apply">
            <h1>Apply and Submit</h1>
<form action = "../../passport_minor/Addrecord7/"method = "POST">
{% csrf_token %}
    
    <p>Name:
        <input type = "text" name = "name" id = "name" required> <br>
        Mobile Number:
        <input type = "text" name = "mobile" id = "mobile" required> <br>
        
        Select your Document Name:
        <select name = "document">
        <option value = "Select your Document "> ---Select Your Document---</option> 
        <option value ="	Anganwadi Certificate	">	Anganwadi Certificate	</option>
<option value ="	Birth Certificate	">	Birth Certificate	</option>
<option value ="	Certificate of DOB from State/Central Govt Authority	">	Certificate of DOB from State/Central Govt Authority	</option>
<option value ="	Certificate of Identity from EPFO	">	Certificate of Identity from EPFO	</option>
<option value ="	DOB Certificate by Gazetted Officer	">	DOB Certificate by Gazetted Officer	</option>
<option value ="	Identity Certificate from Educational Institute	">	Identity Certificate from Educational Institute	</option>
<option value ="	PAN Card	">	PAN Card	</option>
<option value ="	Passport	">	Passport	</option>
<option value ="	Pension Payment	">	Pension Payment	</option>
<option value ="	Photo ID from Educational Institute	">	Photo ID from Educational Institute	</option>
<option value ="	Photo ID with DOB from PSU 	">	Photo ID with DOB from PSU 	</option>
<option value ="	 STC/TC with Name and DOB	">	 STC/TC with Name and DOB	</option>
<option value ="	Secondary School Leaving Certificate	">	Secondary School Leaving Certificate	</option>
<option value ="	University/Board Mark Sheet	">	University/Board Mark Sheet	</option>


    </select><br>

Upload Document:
    <input type = "file" name = "upload document" > <br>
    <p>
    Enter your message <br>

    <textarea name="your message" cols="30" rows="10" placeholder="Enter your message"></textarea>
</p>

    </p>
    <input type = "Submit" value = "Submit">
</form>
         </div>

    </body>
</html>